@import '../../styles/variables.scss';

.select {
  font-size: $font-size-2;
  font-weight: bold;
  background-color: white;
  box-shadow: $shadow;
  padding: 10px;
  border: 1px solid $black;
  border-radius: 10px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    outline: none;
    background-color: $hover;
  }

  &:active {
    box-shadow: $shadow-1;
  }
}

.option {
  &:checked {
    text-align: center;
  }

  &:hover {
    background-color: $hover;
    cursor: pointer;
  }
}
